# SvelteKit typicals
.DS_Store
node_modules
/build
/.svelte-kit
/package
/scratch
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package.json

# Service worker
static/sw.js
static/sw.js.map
static/sw.old.js
static/workbox-48631b28.js
static/workbox-48631b28.js.map

# Sentry Config File
.sentryclirc
/.vs/slnx.sqlite
/.vs
sentry_token.txt
/static/icons/icon.icon-svgrepo.svg
/static/icons/icon.icon.icon.icon-svgrepo.svg
/static/icons/icon.icon.icon.icon.icon-svgrepo.svg
/static/~partytown
