@import-normalize;
@tailwind base;
@tailwind components;
@layer base {
	:root {
		--LANDINGPHOTO: url('/homepage/digital-art-neon-bubbles.webp');
		/* --COLORWHT: 227 223 209; */ /* old */
		/* --COLORWHT: 227 226 222; */
		/* --COLORWHT1: 244 238 226; */
		/* --COLORWHT2: 239 235 222; */ /* old */
		/* --COLORWHT2: 240 237 230; */
		/* --COLORWHT3: 212 208 195; */ /* old */
		/* --COLORWHT3: 209 207 201; */
		/* --COLORWHT4: 225 214 218; */
		/* --COLORWHT5: 241 235 223; */
		/* --COLORBLK: 42 26 31; */
		/* --COLORGRY: 122 119 113; */
		/* --COLORYLW: 199 159 31; */ /* old */
		/* --COLORYLW: 214 169 24; */
		/* --COLORBLE: 112 164 255; */
		/* --COLORBYW: 214 182 15; */
		/* --COLORHPK: 255 0 80; */
		/* --COLORPNK: 155 70 117; */
		/* --COLORRED: 132 45 10; */ /* old */
		/* --COLORRED: 214 77 21; */
		/*default theme*/
		/************************************************************************/
		--COLORWHT: 255 255 255; /* White */
		--COLORWHT1: 200 200 200; /* Slightly Lighter White */
		--COLORWHT2: 190 190 190; /* Dark Gray */
		--COLORWHT3: 180 180 180; /* Light Gray */
		--COLORWHT4: 170 170 170; /* Lighter Gray */
		--COLORWHT5: 160 160 160; /* Lightest Gray */

		--COLORBLK: 0 0 0; /* Black */
		--COLORBLK1: 55 55 55; /* Slightly Lighter Black */
		--COLORBLK2: 65 65 65; /* Dark Gray */
		--COLORBLK3: 75 75 75; /* Light Gray */
		--COLORBLK4: 85 85 85; /* Lighter Gray */
		--COLORBLK5: 95 95 95; /* Lightest Gray */

		--COLORGRY: 128 128 128; /* Gray */
		--COLORGRN: 0 255 23; /* Green */
		--COLORGRN1: 0 242 21; /* Green */
		--COLORGRN2: 0 191 16; /* Green */

		/* --COLORYLW: 255 212 0; / Yellow */
		--COLORYLW: 255 217 31; /* Yellow */

		/* --COLORBLE: 0 163 255; */
		--COLORBLE: 0 93 255;
		/* --COLORBLE: 0 127 255; */ /* Pass */
		/* --COLORBLE: 39 84 216; */ /* Pass */

		--COLORBYW: 71 207 115; /* A shade similar to the specified color */

		--COLORHPK: 255 0 168; /* Hot pink */

		/* --COLORPNK: 255 80 234; / Pink */
		--COLORPNK: 154 30 139; /* Hot pink */

		/* --COLORRED: 190 0 0; */ /* Red */
		--COLORRED: 171 28 28; /* Red */
	}
}
@tailwind utilities;

/* Themes, and the such */
/*light theme*/
[data-theme='light'] {
	/************************************************************************/
	--COLORWHT: 255 255 255; /* White */
	--COLORWHT1: 55 55 55; /* Slightly Lighter White */
	--COLORWHT2: 190 190 190; /* Dark Gray */
	--COLORWHT3: 180 180 180; /* Light Gray */
	--COLORWHT4: 170 170 170; /* Lighter Gray */
	--COLORWHT5: 160 160 160; /* Lightest Gray */

	--COLORBLK: 100 100 100; /* Black */
	--COLORBLK1: 75 75 75; /* Slightly Lighter Black */
	--COLORBLK2: 65 65 65; /* Dark Gray */
	--COLORBLK3: 75 75 75; /* Light Gray */
	--COLORBLK4: 85 85 85; /* Lighter Gray */
	--COLORBLK5: 95 95 95; /* Lightest Gray */

	--COLORGRY: 128 128 128; /* Gray */
	--COLORGRN: 0 255 23; /* Green */
	--COLORGRN1: 0 242 21; /* Green */
	--COLORGRN2: 0 191 16; /* Green */

	--COLORYLW: 255 217 31; /* Yellow */

	--COLORBLE: 0 93 255;

	--COLORBYW: 71 207 115; /* A shade similar to the specified color */

	--COLORHPK: 255 0 168; /* Hot pink */

	--COLORPNK: 154 30 139; /* Hot pink */

	--COLORRED: 171 28 28; /* Red */
}
/*dark theme*/
[data-theme='dark'] {
	/************************************************************************/
	--COLORWHT: 255 255 255; /* White */
	--COLORWHT1: 200 200 200; /* Slightly Lighter White */
	--COLORWHT2: 190 190 190; /* Dark Gray */
	--COLORWHT3: 180 180 180; /* Light Gray */
	--COLORWHT4: 170 170 170; /* Lighter Gray */
	--COLORWHT5: 160 160 160; /* Lightest Gray */

	--COLORBLK: 0 0 0; /* Black */
	--COLORBLK1: 55 55 55; /* Slightly Lighter Black */
	--COLORBLK2: 65 65 65; /* Dark Gray */
	--COLORBLK3: 75 75 75; /* Light Gray */
	--COLORBLK4: 85 85 85; /* Lighter Gray */
	--COLORBLK5: 95 95 95; /* Lightest Gray */

	--COLORGRY: 128 128 128; /* Gray */
	--COLORGRN: 0 255 23; /* Green */
	--COLORGRN1: 0 242 21; /* Green */
	--COLORGRN2: 0 191 16; /* Green */

	/* --COLORYLW: 255 212 0; / Yellow */
	--COLORYLW: 255 217 31; /* Yellow */

	/* --COLORBLE: 0 163 255; */
	--COLORBLE: 0 93 255;
	/* --COLORBLE: 0 127 255; */ /* Pass */
	/* --COLORBLE: 39 84 216; */ /* Pass */

	--COLORBYW: 71 207 115; /* A shade similar to the specified color */

	--COLORHPK: 255 0 168; /* Hot pink */

	/* --COLORPNK: 255 80 234; / Pink */
	--COLORPNK: 154 30 139; /* Hot pink */

	/* --COLORRED: 190 0 0; */ /* Red */
	--COLORRED: 171 28 28; /* Red */
}
/*ub theme*/
[data-theme='ub-theme'] {
	--LANDINGPHOTO: url('https://pub-25848f6979f1410bb0c611a1a9c24310.r2.dev/primary-uswest/January-2021-Slider-01.jpg');
	/************************************************************************/
	--COLORWHT: 255 255 255; /* White */
	--COLORWHT1: 55 55 55; /* Slightly Lighter White */
	--COLORWHT2: 190 190 190; /* Dark Gray */
	--COLORWHT3: 180 180 180; /* Light Gray */
	--COLORWHT4: 170 170 170; /* Lighter Gray */
	--COLORWHT5: 160 160 160; /* Lightest Gray */

	--COLORBLK: 144 44 140; /* Black */
	--COLORBLK1: 255 199 44; /* Slightly Lighter Black */
	--COLORBLK2: 65 65 65; /* Dark Gray */
	--COLORBLK3: 75 75 75; /* Light Gray */
	--COLORBLK4: 85 85 85; /* Lighter Gray */
	--COLORBLK5: 95 95 95; /* Lightest Gray */

	--COLORGRY: 128 128 128; /* Gray */
	--COLORGRN: 0 255 23; /* Green */
	--COLORGRN1: 0 242 21; /* Green */
	--COLORGRN2: 0 191 16; /* Green */

	/* --COLORYLW: 255 212 0; / Yellow */
	--COLORYLW: 255 217 31; /* Yellow */

	/* --COLORBLE: 0 163 255; */
	--COLORBLE: 0 93 255;
	/* --COLORBLE: 0 127 255; */ /* Pass */
	/* --COLORBLE: 39 84 216; */ /* Pass */

	--COLORBYW: 71 207 115; /* A shade similar to the specified color */

	--COLORHPK: 255 0 168; /* Hot pink */

	/* --COLORPNK: 255 80 234; / Pink */
	--COLORPNK: 154 30 139; /* Hot pink */

	/* --COLORRED: 190 0 0; */ /* Red */
	--COLORRED: 171 28 28; /* Red */
}
/* fandom-wiki theme */
[data-theme='fandom-wiki'] {
	--COLORWHT: 255 255 255;
	--COLORWHT1: 7 51 105;
	--COLORWHT2: 220 82 145;
	--COLORWHT3: 82 49 129;
	--COLORWHT4: 134 3 52;
	--COLORWHT5: 200 68 6;
	--COLORBLK: 45 89 232;
	--COLORBLK1: 177 18 148;
	--COLORBLK2: 136 88 149;
	--COLORBLK3: 234 184 174;
	--COLORBLK4: 19 125 209;
	--COLORBLK5: 75 46 166;
	--COLORGRY: 236 81 172;
	--COLORGRN: 19 105 122;
	--COLORGRN1: 127 83 119;
	--COLORGRN2: 51 150 0;
	--COLORYLW: 246 16 94;
	--COLORBLE: 178 29 93;
	--COLORBYW: 154 93 23;
	--COLORHPK: 151 232 113;
	--COLORPNK: 175 174 124;
	--COLORRED: 71 214 75;
}
/* green-ish */
[data-theme='green-ish'] {
	--COLORWHT: 97 148 41;
	--COLORWHT1: 5 255 81;
	--COLORWHT2: 45 241 9;
	--COLORWHT3: 227 54 174;
	--COLORWHT4: 89 132 221;
	--COLORWHT5: 63 195 9;
	--COLORBLK: 34 120 147;
	--COLORBLK1: 210 27 126;
	--COLORBLK2: 5 234 141;
	--COLORBLK3: 194 236 186;
	--COLORBLK4: 41 41 41;
	--COLORBLK5: 155 73 27;
	--COLORGRY: 4 85 61;
	--COLORGRN: 87 26 254;
	--COLORGRN1: 134 237 28;
	--COLORGRN2: 219 161 31;
	--COLORYLW: 199 188 245;
	--COLORBLE: 88 228 93;
	--COLORBYW: 184 128 9;
	--COLORHPK: 150 101 231;
	--COLORPNK: 74 17 219;
	--COLORRED: 24 226 143;
}
/* bubblegum */
[data-theme='bubble-gum'] {
	--COLORWHT: 149 32 170;
	--COLORWHT1: 28 158 129;
	--COLORWHT2: 191 166 79;
	--COLORWHT3: 78 199 254;
	--COLORWHT4: 182 233 81;
	--COLORWHT5: 17 13 2;
	--COLORBLK: 66 236 221;
	--COLORBLK1: 169 226 226;
	--COLORBLK2: 50 193 130;
	--COLORBLK3: 207 172 233;
	--COLORBLK4: 129 140 167;
	--COLORBLK5: 41 69 66;
	--COLORGRY: 68 193 88;
	--COLORGRN: 4 93 245;
	--COLORGRN1: 32 142 242;
	--COLORGRN2: 156 189 151;
	--COLORYLW: 5 35 154;
	--COLORBLE: 183 231 60;
	--COLORBYW: 29 133 16;
	--COLORHPK: 1 191 102;
	--COLORPNK: 2 103 120;
	--COLORRED: 190 24 216;
}
/***************************** END THEMES **********/
/* :global if in component */
html {
	scroll-behavior: smooth; /* nice */
}

body {
	font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
	background-color: #6b6b6b;
	width: 0.35rem;
}

::-webkit-scrollbar-thumb {
	background: #d8dee9;
	border-radius: 2px;
}

/* The tree is inverted */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
