@import-normalize;
@tailwind base;
@tailwind components;
@layer base {
	:root {
		--LANDINGPHOTO: url('/homepage/hero-shapes.webp');
		--COLORLIGHT: 209 214 238;
		--COLORDARK: 20 36 40;

		--COLORMAIN: 244 175 0;
		--COLORMAIN2: 255 192 0; /* Tone 2 */

		--COLORACCENTL: 255 106 56;
		--COLORACCENTD: 6 193 105;
	}
}
@tailwind utilities;

/* Themes, and the such */
/*light theme*/
/* Nothing here yet! */
/***************************** END THEMES **********/
/* :global if in component */
html {
	scroll-behavior: smooth; /* nice */
}

body {
	font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
	background-color: #6b6b6b;
	width: 0.35rem;
}

::-webkit-scrollbar-thumb {
	background: #d8dee9;
	border-radius: 2px;
}

/* The tree is inverted */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: 0;
	border: 0;
}

/* Smooth transitions for themes */
.transition,
button,
input,
body,
div {
	transition-property:
		color,
		background-color,
		border-color,
		text-decoration-color,
		fill,
		stroke,
		opacity,
		box-shadow,
		transform,
		filter,
		-webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property:
		color,
		background-color,
		width,
		height,
		background,
		border-color,
		text-decoration-color,
		fill,
		stroke,
		opacity,
		box-shadow,
		transform,
		filter,
		backdrop-filter,
		-webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

input,
button,
textarea {
	outline: none;
}
